body {
	margin: 0;
	padding:0;
	height:100%;
	min-width:1200px;
	min-height:580px;
	font-size:12px;
}
html {
	height: 100%;
}

#top_div
{
	width:100%;
	height:5%;
	min-width:1200px;
	min-height:30px;
	background:#666;
	
}

#main_div
{
	position:relative;
	background:#999;
	width:100%;
	min-width:1200px;
	height:100%;
	min-height:550px;
}
#video_ocx_div
{
	margin-right:300px;
	background:#999;
	height:100%;
}
#picarea
{
	margin-right:300px;
	
	height:100%;
}

#ocx_object
{
	position:relative;
	top:5px;
	width:99%;
	height:98%;
	background:black;
	margin-left:auto;
	margin-right:auto;
	
	
}
#osd_config_div
{
	position:absolute;
	top:0px;
	right:0;
	width:300px;
	min-width:300px;
	height:100%;
}

#save_div
{
	height:10%;
	min-height:25px;
	width:100%;
	text-align:right;
}
#empty_div
{
	height:100%;
}
#tab_container
{
	position:relative;
	top:-25px;
	width:300px;
	height:25px;
}
#tab_container span
{
	float:left;
	color:white;
	margin-left:5px;
	line-height:25px;
	cursor:pointer;
	text-align:center;
	width:70px;
	background:#333;
	border:solid solid none solid;
}




